@import '../../../styles/constants.less';

.section {
  display: flex;
  align-items: center;
  font-size: @main_font_size_small;
  font-family: @main_font;
  color: @color_dark_grey;
  padding: @xm_gap @xm_gap 0 @xm_gap;
}

.pagination_arrow_wrapper {
  display: flex;
}

.pagination_arrow {
  margin: 0 @xm_gap;
  fill: @page_color;
  width: @m_gap;
  height: @m_gap;
  cursor: pointer;

  &:hover {
    fill: @main_font_color_dark;
  }
}

.points {
  height: 18px;
  margin: 0 @m_gap 0 0;
  align-self: center;
}

.page {
  cursor: pointer;
  color: @page_color;

  &:hover {
    color: @main_font_color_dark;
  }
}

.pages {
  display: flex;
  align-items: center;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 @s_gap;
  }
}

.selected_page {
  border-radius: 4px;
  height: @xl_gap;
  cursor: pointer;
  font-weight: 600;
  background-color: @hover_selected_color_xlight;
  padding: 0 @s_gap;

  &:hover {
    color: @main_font_color_dark;
  }
}
