@import '../../../styles/constants';

.popup_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: @xxl_gap;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.popup_bg {
  background-color: @pop_up_background_color;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.popup {
  background-color: @white_color;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  border: @xxxxs_gap solid @pop_up_border_color;
  min-width: 320px;
  box-sizing: border-box;
  padding: 2px;
}

.header {
  background: linear-gradient(@white_color, @header_color_gradient);
  font-size: 11px;
  color: @main_font_color_dark;
  font-weight: bold;
  font-family: Arial, Verdana, sans-serif;
  width: 100%;
  padding: @xss_gap;
  box-sizing: border-box;
  border: @xxxxs_gap solid @header_color_gradient;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 100%;
  padding: @xm_gap;
  box-sizing: border-box;
}
