@import '../../../styles/constants';

.wrapper {
  display: flex;
  align-items: center;
  margin-left: @xm_gap;
  top: 36%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 13px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @checkbox_hovered_color;
  border-radius: @lm_border_radius;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 17px;
  width: 17px;
  left: -@xsss_gap;
  bottom: -@xxxxss_gap;
  background-color: @hover_selected_color;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

input:checked + .slider {
  background-color: @hover_focused_color_ligher;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -9px;
}

@media only screen and (max-width: 1300px) {
  input:checked + .slider::before {
    left: -19px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1300px) {
  input:checked + .slider::before {
    left: -14px;
  }
}

.label {
  margin-left: 10px;
  font-family: 'Roboto', serif;
}
