.title {
  display: inline-block;
  color: #666666;
  margin-left: 10px;
}

.extra_info {
  display: inline-block;
  margin-left: 5px;
  color: #DCDCDC;
  font-size: 11px;
  font-style: italic;
}

.checkbox {
  display: inline-block;
}

.item {
  margin-bottom: 5px;
}
