@import '../../../../styles/constants';

.cell {
  box-sizing: border-box;
  vertical-align: middle;
  font-family: Arial, serif;
  font-size: @main_font_size_small;

  // add ... when text in cell is so large to view
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data_container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  // left padding is just for align a content
  //padding: 0 @xm_gap 0 @xxxll_gap;
  border: black;
}

.is_link {
  cursor: pointer;
}

.warning_icon {
  margin-right: @xss_gap;
}

.crossed_out {
  color: @icon-color-fill;
  text-decoration: line-through;
}

.link_icon {
  background: transparent;
  border: none;
  cursor: pointer;

  & > svg {
    width: 22px;
    max-height: 22px;
    fill: @main_font_color_dark;
    margin-left: 25px;
  }

  & > img {
    width: 22px;
    max-height: 22px;
  }
}

.small_image {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.large_image {
  width: 150px;
  height: 150px;
  background: transparent;
}

.unit_measure {
  margin-left: 10px;
}

.string_container {
  display: flex;
  flex-wrap: nowrap;
}

.three_dots_wrapper {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: -5px;
  width: 12px;
  height: 21px;
}

.three_dots {
  width: 100%;
}
