@import '../../../styles/constants.less';

.icon {
  display: block;
  width: 0.8em;
  height: 0.8em;
  fill: currentColor;
}

.selection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: @m_gap @xm_gap;
  background: @white_color;
  width: 100%;
  min-width: 50px;
  box-sizing: border-box;
  transition: 500ms;
  z-index: 3;

  &:hover {
    box-shadow: @box_shadow_select;
    z-index: 3;
  }
}

.groups_container {
  // position: absolute;
  // top: 100%;
  // left: auto;
  // right: 0;
  // border: solid #DDDDDD;
  // border-width: 0 @xxxxs_border_radius;
  // background: @white_color;
  // z-index: 10;
  // width: 100%;
  // box-sizing: border-box;
  // border-radius: 0 0 @xss_border_radius @xss_border_radius;
  // top: 44px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  right: 0;
  border-width: 0 @xxxxs_border_radius;
  background: @white_color;
  z-index: 15;
  width: 100%;
  box-sizing: border-box;
  border-radius: @xsss_gap;
  box-shadow: @box_shadow_select;
  top: 44px;
}

.group_options {
  top: 100%;
  left: auto;
  right: 0;
  border-width: 0 @xxxxs_border_radius;
  background: @white_color;
  z-index: 15;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 @xss_border_radius @xss_border_radius;
  font-family: 'Roboto', sans-serif;
}

.group_option {
  text-align: left;
  padding: @l_gap 0 @m_gap @xm_gap;
  cursor: pointer;
  font-size: @main_font_size;
  height: 15px;
  transition: 250ms;

  &.selected {
    margin: -@xxxxs_border_radius -@xxxxs_border_radius 0;
    background: @hover_selected_color_xlight;
  }

  &:hover,
  &.focused {
    background: @hover_focused_color_ligher;
    color: @white_color;
  }
}

.group {
  top: 100%;
  left: auto;
  right: 0;
  border-width: 0 @xxxxs_border_radius;
  background: @white_color;
  z-index: 15;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 @xss_border_radius @xss_border_radius;
}

.groupTitle {
  text-transform: lowercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: @main_font_size_small;
  padding: @xs_gap 0 0 @xs_gap;
  color: @background_color_table_child;
}

//::first-letter {
//  text-transform: uppercase;
//}

.select {
  position: relative;
  font-size: @main_font_size_small;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  // space-between is not a good solution for IE11
  justify-content: flex-end;

  &:focus {
    outline: 0;

    & .selection {
      box-shadow: @box_shadow_select;
    }
  }
}

.label {
  display: block;
  margin-right: @xm_gap;
}

.value {
  display: flex;
  align-items: center;
  // Fix bug when click event target is svg
  padding: @xxxxss_gap @xl_gap @xxxxss_gap @xm_gap;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  text-align: left;
  font-size: @main_font_size;
}

.multiple {
  padding-right: @xxll_gap;
  margin-right: @xss_gap;
  border-radius: @xxxxss_gap;
  background: @hover_selected_color_xlight;
  color: @checkbox_checked_color;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: @xm_gap;
  font-size: @xm_gap;
  cursor: pointer;
}

.placeholder {
  display: flex;
  align-items: center;
  padding: @xxxxss_gap @xl_gap @xxxxss_gap @xm_gap;
  color: @main_font_color_light;
  font-size: @main_font_size;
  // Fix bug when click event target is svg
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  height: 100%;
}

.arrow {
  display: block;
  padding: @xsss_gap @xsss_gap;
  font-size: @xm_gap;
  color: @main_font_color_light;
  cursor: pointer;
}

.options_to_bottom {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  right: 0;
  border-width: 0 @xxxxs_border_radius;
  background: @white_color;
  z-index: 15;
  width: 100%;
  box-sizing: border-box;
  border-radius: @xsss_gap;
  box-shadow: @box_shadow_select;
  top: 44px;
}

.options_to_bottom::after {
  content: '';
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid @hover_selected_color_light;
  position: absolute;
  top: -8px;
  right: 50%;
  z-index: 2;
}

.options_to_top {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  right: 0;
  border-width: 0 @xxxxs_border_radius;
  background: @white_color;
  z-index: 15;
  width: 100%;
  box-sizing: border-box;
  border-radius: @xsss_gap;
  box-shadow: @box_shadow_select;
  top: -170px;
}

.options_to_top::after {
  content: '';
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid @hover_selected_color_light;
  position: absolute;
  top: 159px;
  right: 50%;
  z-index: 2;
}

.option {
  display: flex;
  align-items: center;
  padding: 14px @xm_gap;
  cursor: pointer;
  font-size: @main_font_size;
  transition: 300ms;

  &.selected {
    // border: @xxxxs_border_radius solid @main;
    margin: -@xxxxs_border_radius -@xxxxs_border_radius 0;
    background: @hover_selected_color_xlight;
  }

  &:hover,
  &.focused {
    color: @white_color;
    background: @hover_focused_color_ligher;
  }
}

.option_icon {
  padding-right: @xs_gap;
  width: 20px;
}

.checkbox {
  content: '';
  vertical-align: top;
  display: inline-block;
  width: @l_gap;
  height: @l_gap;
  padding: @xxxxss_gap;
  border: @xxxxs_border_radius solid @main_border_color;
  border-radius: @xxxxss_gap;
  margin: @xxxxss_gap @m_gap 0 0;
  color: @white_color;
  font-size: @xm_gap;

  .selected & {
    border-color: @hover_selected_color_light;
    background: @checkbox_checked_color;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .option {
    padding: 5px;
    height: 30px;
  }

  .value {
    position: relative;
    padding: 0;
    height: 20px;
  }

  .option_icon svg {
    width: 40px;
  }

  .placeholder {
    position: relative;
  }
}
