@import '../../../../styles/constants';

.icon_wrapper {
  position: absolute;
  top: 12px;
  right: 4px;
}

.icon {
  position: absolute;
  top: -30px;
  right: 7px;
  margin-left: @xm_gap;
  width: 17px;
  cursor: pointer;
  // For IE11
  height: 24px;
}
