@import '../../../../styles/constants';

.text_field_wrapper {
  background-color: @white_color;
}

.controls_wrapper {
  display: flex;
  justify-content: flex-end;
}

.text_field {
  font-size: 12px;
}
