.loader_section {
  position: relative;
}

.global_loader_wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sk_circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  & * {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    -webkit-animation: sk_circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk_circleFadeDelay 1.2s infinite ease-in-out both;
  }
}

.sk_circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);

  & * {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
}

.sk_circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);

  & * {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
}

.sk_circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  & * {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
}

.sk_circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);

  & * {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

.sk_circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);

  & * {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
}

.sk_circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);

  & * {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
}

.sk_circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);

  & * {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
}

.sk_circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);

  & * {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
}

.sk_circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);

  & * {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }
}

.sk_circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);

  & * {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }
}

.sk_circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);

  & * {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
}

@-webkit-keyframes sk_circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes sk_circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
