@import '../../../../styles/constants';

.data-container {
  padding: 0 10px;
}

.header_cell {
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: top;
  text-align: left;
  color: @row_number_color;
  position: relative;
  font-weight: bold;
  padding-bottom: @xxll_gap;

  &.with_actions_1 .data_container {
    padding-left: @xxxll_gap;
  }

  &.with_actions_2 .data_container {
    padding-left: @xxxll_gap;
  }
}

.header_cell_content {
  padding-bottom: @xxxxs_gap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  font-size: @big_font_size;
  font-family: Arial, serif;
}

.grip {
  top: 0;
  right: 0;
  bottom: 0;
  width: 3px; //grip width
  position: absolute;
  cursor: e-resize; //grip cursor
}

.grip:hover {
  background-color: @row_number_color;
}

.arrow_icon {
  width: 15px;
  fill: @row_number_color;
  cursor: pointer;
  // For IE11
  height: 15px;
}

.warning_icon {
  margin-right: @xss_gap;
}

.table_head_actions {
  display: flex;
  position: absolute;
  left: 5px;
}
