@import '../../../styles/constants.less';

.search_panel {
  display: flex;
  align-items: center;
  border-bottom: @xxxxs_border_radius solid @main_border_color;
  position: relative;
  height: 45px;

  .select {
    width: 150px;
  }
}

.left_side,
.right_side {
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
}

.title {
  padding-left: @xl_gap;
  font-size: @xl_gap;
  font-family: system-ui, serif;
  color: @white_color;
}

.search_string_input {
  width: 250px;
  height: 3rem;
  padding-right: @xs_gap;
  border-right: @xxxxs_border_radius solid @main_border_color;
}

.search_button {
  fill: @color_dark_grey;
  cursor: pointer;
  border-right: @xxxxs_border_radius solid @main_border_color;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.selected_dynamic_fields {
  display: flex;
  align-items: center;
  padding: @m_gap;
  // z-index: 100;

  &_item {
    display: flex;
    align-items: center;
    background-color: #F0F6FD;
    border-radius: 20px;
    height: auto;
    min-height: 30px;
    margin-right: 10px;
  }
}

.dynamic_fields_section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 20px;
  margin: @m_gap;

  .field_title {
    padding-right: @xm_gap;
  }

  input {
    border: @xxxxs_border_radius solid rgba(0, 0, 0, 0.15);
    width: 150px;
    height: 20px;
    font-size: 12px;
  }
}

.interval_section {
  display: flex;
  align-items: center;
  height: 100%;

  &_title {
    padding: 0 @xm_gap;
  }

  &_checkbox {
    padding-left: @xm_gap;
    width: 65px;
  }
}

.value_input {
  width: 180px;
  background-color: white !important;
  border-radius: 10px;
}

.input_error {
  width: 100%;
  color: @reject_action_color;
  font-weight: bold;
}

.selected_dynamic_field_title {
  margin: 0 @s_gap;
  font-family: 'Roboto', serif;
}

.add_value_button {
  height: 12px;
  width: 12px;
  fill: #9BA0AC;
  cursor: pointer;
  margin-right: 8px;

  &:hover {
    fill: #686C78;
  }
}

.add_field_button {
  margin-left: 10px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .search_panel {
    height: 40px;
  }
}

.input_field {
  width: 150px;
  height: 20px !important;
  background-color: white !important;
  border-radius: 10px;

  input {
    height: 20px !important;
  }
}

.icon {
  height: 21px;
  width: 21px;
  padding-left: @m_gap;
  fill: #000000;
  transition: 500ms;

  &:hover {
    fill: @hover_selected_color_light;
  }
}

.date_field {
  display: flex;
  align-items: center;
  margin: @s_gap;

  &_label {
    margin-right: @xs_gap;
  }

  input {
    font-size: 13px;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px #E9E9E9;
    border: 1px solid #AEAEAE;
    line-height: 16px;
    padding: 6px 10px 5px;

    &:focus {
      outline: none;
      border-color: #AEAEAE;
      box-shadow: inset 0 2px 2px #E9E9E9, 0 0 10px 0 rgba(73, 107, 125, 0.3);
    }
  }
}
