@import '../../../styles/constants.less';

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 @xl_gap 0 @xl_gap;
}

.content_wrapper {
  display: flex;
}

// @media screen and (max-height: 1060px) {
//   .content {
//     height: 73vh;
//   }
// }

// @media screen and (max-height: 920px) {
//   .content {
//     height: 63vh;
//   }
// }

// @media screen and (max-height: 745px) {
//   .content {
//     height: 56vh;
//   }
// }

// @media screen and (max-height: 628px) {
//   .content {
//     height: 51vh;
//   }
// }

// @media screen and (max-height: 562px) {
//   .content {
//     height: 45vh;
//   }
// }

// @media screen and (max-height: 505px) {
//   .content {
//     height: 40vh;
//   }
// }
