@import '../../../../../../styles/constants.less';

.background_modal {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.image_modal {
  z-index: 99999;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: auto;
  background: transparent;
  transform: translate(-50%, -50%);
}

.image {
  max-width: 500px;
  max-height: 400px;
  position: relative;
}

.cancel_btn {
  display: flex;
  float: right;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.cancel_icon {
  width: 20px;
  height: 20px;
  fill: @main_font_color_extra_light;
  float: right;
}

.cancel_icon:hover {
  width: 24px;
  height: 24px;
  fill: @main_font_color_extra_light;
}
