@import '../../../styles/constants';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: @white_color;
  border-bottom: @xxxxs_gap solid @main_border_color;
}

.left_side {
  display: flex;
  align-items: center;
  width: 100%;

  & a {
    text-decoration: none;
  }
}

.right_side {
  display: flex;
  align-items: center;
  margin-right: @l_gap;
}

.logo {
  height: 100%;
  padding-left: @xll_gap;
}

.title {
  width: 280px;
  height: 33px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  position: relative;
}

/* -----------  Title Responsiveness ---------------- */
// @media only screen and (max-width: 1270px) {
//   .title {
//     left: 30%;
//   }
// }

// @media only screen and (max-width: 960px) {
//   .title {
//     left: 10%;
//   }
// }

// @media only screen and (max-width: 820px) {
//   .title {
//     left: 0%;
//   }
// }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .right_side {
    margin-right: @l_gap;
    width: 40%;
  }
}
