@import '../../../styles/constants';

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip_trigger {
  display: inline-block;
}

.tooltip_container {
  min-width: @xxxl_gap;
  position: absolute;
  z-index: 10;

  &::after {
    content: '';
    position: absolute;
  }
}

.tooltip_top {
  bottom: 100%;
  left: -@xxxl_gap;
  padding-bottom: @xm_gap;

  &::after {
    border-left: @xm_gap solid transparent;
    border-right: @xm_gap solid transparent;
    border-top: @xm_gap solid @border_arrow_color;
    bottom: 0;
    left: 62px;
  }
}

.tooltip_bottom {
  top: 100%;
  left: -@xxxl_gap;
  padding-top: @s_gap;

  &::after {
    border-left: @xss_gap solid transparent;
    border-right: @xss_gap solid transparent;
    border-bottom: @xss_gap solid @border_arrow_color;
    top: @xxxxss_gap;
    left: 62px;
  }
}

.tooltip_left {
  top: 50%;
  right: 100%;
  padding-right: @xm_gap;
  transform: translateY(-50%);

  &::after {
    border-left: @xm_gap solid @border_arrow_color;
    border-top: @xm_gap solid transparent;
    border-bottom: @xm_gap solid transparent;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.tooltip_right {
  top: 50%;
  left: 100%;
  padding-left: @xm_gap;
  transform: translateY(-50%);

  &::after {
    border-right: @xm_gap solid @border_arrow_color;
    border-top: @xm_gap solid transparent;
    border-bottom: @xm_gap solid transparent;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.tooltip_message {
  background: @tooltip_color;
  border-radius: @s_border_radius;
  color: @main_font_color_dark;
  font-size: 0.75rem;
  line-height: 1.4;
  padding: @l_gap;
  text-align: center;
  border: @xxxs_border_radius solid @border_arrow_color;

  & input {
    width: 100%;
    box-sizing: border-box;
    background-color: @white_color;
  }

  & button {
    display: block;
    margin-top: @xm_gap;
  }
}
