@import '../../../styles/constants.less';

.modal_dialog {
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99999;
}

.modal_content {
  width: 420px;
  position: relative;
  margin: 10% auto;
  padding: 5px 0 13px 0;
  border-radius: 5px;
  background: #FFFFFF;
}

.close {
  line-height: 25px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 8px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.cancel_icon {
  height: 18px;
  width: 18px;
  padding-left: @m_gap;
  fill: @main_font_color_light;
  transition: 500ms;
  padding-top: 3px;
  cursor: pointer;

  &:hover {
    fill: @main_font_color;
  }
}

.header {
  border-bottom: 1px solid @main_border_color;
  height: 30px;
  font-size: 20px;
  padding-left: 7px;
  padding-top: 7px;
}

.content {
  height: 100px;
  padding-left: 7px;
  padding-top: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: flex-end;
  height: auto;
  border-top: 1px solid @main_border_color;
  bottom: 10px;
  padding: 7px 7px 0 7px;
}

.cancel_button {
  border: 1px solid @icon-color-fill;
  padding: 10px 16px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;

  &:hover {
    border-color: #1890FF;
    color: #1890FF;
  }
}

.download_button {
  border: 1px solid #1890FF;
  padding: 10px 16px;
  background-color: #1890FF;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  margin-left: 10px;
  white-space: nowrap;

  &:hover {
    opacity: 0.7;
  }
}
