@import '../../../../styles/constants';

.controls {
  display: flex;
  justify-content: space-between;
  margin: 0 @xxxll_gap;
  font-family: @main_font;
}

.right_side {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: @main_font;
}

.config_icon {
  margin-left: @xxxxss_gap;
  width: 15px;
  height: 15px;
  cursor: pointer;
  font-family: @main_font;
}

.selected_items_counter {
  padding: @xm_gap @xm_gap 0;
  font-family: @main_font;
  font-size: 14px;
  color: #333333;
  margin-left: 300px;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;

  > .right_side {
    margin-right: 50px;
    z-index: 10;
  }
}
