@import '../../../../styles/constants.less';

.header_actions {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

.header_cell {
  display: flex;
  align-items: center;
  padding: @m_gap @m_gap @m_gap 0;
  cursor: all-scroll !important;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  opacity: 1;
  background-color: @white_color;
  transition: 250ms;

  &.drag_disabled {
    cursor: default !important;
  }

  &:hover {
    color: @white_color;
    background: @hover_focused_color_ligher;
  }

  &:hover > .header_actions {
    display: block;
  }
}

.header_label {
  text-align: left;
  font-size: @big_font_size;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  margin-right: @l_gap;
  padding: 0 5px 0 25px;
}

.data_cell {
  display: flex;
  align-items: center;
  padding: 0 5px 0 25px;
  min-height: 45px;
  white-space: nowrap;
  background: @white_color;
  text-overflow: ellipsis;
  overflow: hidden;
  // border: 1px solid #F1F1F1;
  font-size: @big_font_size;
  //transition: 0;

  &:nth-child(even) {
    // The blue background before search-engine launch
    // background: @hover_selected_color_xlight;
    background-color: #F0F6FD;
  }
}

.link_name {
  color: @breadcrumb_color;
  text-decoration: initial;
  border: 0 solid @color_dark_grey;
  transition: 0;
}

.delete_btn {
  display: flex;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  & > svg {
    width: 10px;
    height: 10px;
    fill: @white_color;
    background: #B2EBFF;
    padding: 6px;
    transition: 250ms;
  }

  & > svg:hover {
    width: 10px;
    height: 10px;
    fill: @white_color;
    background: #0345A1;
    padding: 6px;
  }
}

.header_cell_sorting_icon {
  fill: #000000;
  width: 12px;
  position: absolute;
}

.hovered_element {
  display: flex;
  align-items: center;
  min-height: 45px;
  white-space: nowrap;
  font-size: @big_font_size;
  transition: 0;
  color: @white_color;
  background-color: #BFCFE6;
  cursor: pointer;
  padding: 0 5px 0 25px;
  text-overflow: ellipsis;
  overflow: hidden;

  span {
    div {
      background-color: #BFCFE6 !important;

      img {
        background-color: #BFCFE6 !important;
      }
    }
  }

  a {
    span {
      div {
        background-color: #BFCFE6 !important;

        img {
          background-color: #BFCFE6 !important;
        }
      }
    }
  }
}

.grip {
  top: 0;
  right: 0;
  bottom: 0;
  width: 3px; //grip width
  position: absolute;
  cursor: e-resize; //grip cursor
  z-index: 1;
}

.grip:hover {
  background-color: rgb(153, 153, 153);
}

.table_header {
  height: fit-content;
}
