.breadcrumbs {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 28px;
  color: @breadcrumb_color;
  font-family: 'Open Sans', serif;
}

.section {
  text-decoration: none;
  color: inherit;
}

.arrow {
  display: block;
  border-top: @xxss_gap solid transparent;
  border-bottom: @xxss_gap solid transparent;
  border-left: @m_gap solid @breadcrumb_color;
  margin: 0 @s_gap;
}
